<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3 style="font-weight:bold;">Analytics</h3>
        <br>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col">
                    <h4 style="font-weight:bold;">Per Module Counts</h4>
                  </div>
                  <div class="col">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Module
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item btn" onclick="updateBar('module', 1)">Module 1</a>
                        <a class="dropdown-item btn" onclick="updateBar('module', 2)">Module 2</a>
                        <a class="dropdown-item btn" onclick="updateBar('module', 3)">Module 3</a>
                        <!--<a class="dropdown-item btn" onclick="update('total')">Total</a>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding: 30px" class="card-body">
                <div class="row">
                  <div class="col border"><h5 id="module-success" style="font-weight:bold;"></h5></div>
                  <div class="col border"><h5 id="module-fail" style="font-weight:bold;"></h5></div>
                  <div class="col border"><h5 id="module-complete" style="font-weight:bold;"></h5></div>
                  <div class="col border"><h5 id="module-users" style="font-weight:bold;"></h5></div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="barVizModules"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4 style="font-weight:bold;">Total Counts</h4>
              </div>
              <div style="padding: 30px" class="card-body">
                <div class="row">
                  <div class="col border"><h5 style="font-weight:bold;" id="total-success"></h5></div>
                  <div class="col border"><h5 style="font-weight:bold;" id="total-fail"></h5></div>
                  <div class="col border"><h5 style="font-weight:bold;" id="total-complete"></h5></div>
                  <div class="col border"><h5 style="font-weight:bold;" id="total-users"></h5></div>
                </div>
                <div id="barViz"></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            <h4 style="font-weight:bold;">Scores Summary Statistics For Different Modules</h4>
          </div>
          <div class="row">
            <div class="col">
              <table id=statistics-table"></table>
            </div>
            <div class="col">
              <div style="padding: 30px">
                <div id="bar_chartViz"></div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <h4 style="font-weight:bold;">Questions Analysis</h4>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button class="btn btn-info" id="module-1">Module 1</button>
                <button class="btn btn-info" id="module-2">Module 2</button>
                <button class="btn btn-info" id="module-3">Module 3</button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div id="my_dataviz"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="/public/scripts/analytics/bar.js"></script>
<script type="text/javascript" src="/public/scripts/analytics/barChart.js"></script>
<script type="text/javascript" src="/public/scripts/analytics/questions.js"></script>
<style>
  .border {
    padding: 15px;
    margin: 2px;
    border: #211F22 medium solid;
  }
</style>
