<p style="font-size:22px;font-weight:bold;">Accreditation</p>
<div class="row p-4">
  <div class="col-md-2">          
    <img src="../public/images/accreditation.png" class="responsive">            
  </div>
  <div class="col-md-8" style="font-size:18px;font-weight:bold;">
    In support of improving patient care, Boston University Chobanian & Avedisian School of Medicine is jointly accredited by the Accreditation Council for Continuing Medical Education (ACCME), the Accreditation Council for Pharmacy Education (ACPE), and the American Nurses Credentialing Center (ANCC), to provide continuing education for the healthcare team.
  </div>
  <div class="col-md-2"></div>
</div>

<p style="font-size:18px;font-weight:bold;">
  As a Jointly Accredited Organization, Boston University Chobanian & Avedisian School of Medicine is approved to offer social work continuing education by the Association of Social Work Boards (ASWB) Approved Continuing Education (ACE) program. Organizations, not individual courses, are approved under this program. Regulatory boards are the final authority on courses accepted for continuing education credit. Social workers completing this course receive 3.5 clinical continuing education credits.
</p>      