<div class="container" style="padding-top: 60px;">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" style="font-weight:bold;">Create Your Account</h3>
          <p class="text-secondary">
              Only English letters and/or numbers are allowed for password characters and passwords must have a minimum length of 8 characters.
            </p>
          </br>
          <form id="signupForm">
            <div id="signUpFormFields"></div>
            <button id="signup" type="submit" class="btn">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{> logos}}
</div>
<style>
  body {
    background-color: #bbb;
  }
  #logos {      
      margin-top: 18%;
    }
  #signup {
    background-color: #008080; 
    color: white;
    font-weight:bold;
  }
  .form-control {
    background-color: #D3F0F5 !important;
    border: 1px solid #3B5F68 !important;    
  }
  label {
    color: #808080;
    font-weight: bold;
  }
</style>
<script>

</script>
<script type="text/javascript" src="/public/scripts/signup.js"></script>
